<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
  	 <typeAlias type="com.ssafy.enjoytrip.dto.TripBoardDto" alias="tripDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.MemberDto" alias="memberDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.MapRestoDto" alias="mapRestoDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.RestoDto" alias="restoDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.FileInfoDto" alias="fileInfoDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.MapRestoLikeDto" alias="mapRestoLikeDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.MapRestoMypageDto" alias="mapRestoMypageDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.MapRestoListParamDto" alias="mapRestoListParamDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.TagDto" alias="tagDto"/>
     <typeAlias type="com.ssafy.enjoytrip.dto.LikeInfoDto" alias="likeInfoDto"/>
  </typeAliases>

  <mappers>
    <mapper resource="mybatis/TripBoardMapper.xml"/>
    <mapper resource="mybatis/MemberMapper.xml" />
    <mapper resource="mybatis/MapRestoMapper.xml" />
  </mappers>
</configuration>